@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
}

option {
  color: black;
}


.card-container {
  width: 100%;
  max-width: 800px;
  padding: 4;
  border-radius: lg;
  box-shadow: base;
}

/* Responsive styling */
@media (max-width: 768px) {
  .card-container {
    max-width: 100%;
  }
}
